<div class="panel panel-default">
  <div class="panel-heading">
    {{tarea.nombre}}
    <a class="pull-right" routerLink="/tareas">
      Back
    </a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Nombre</th>
        <td>{{tarea.nombre}}</td>
      </tr>
      <tr>
        <th>ID</th>
        <td>{{tarea.id}}</td>
      </tr>
      <tr>
        <th>Proyecto</th>
        <td>{{tarea.proyecto}}</td>
      </tr>
      <tr>
        <th>Persona</th>
        <td>{{tarea.usuario}}</td>
      </tr>
      <tr>
        <th>Estado</th>
        <th>{{tarea.estado}}</th>
      </tr>
    </table>
  </div>
</div>
