<legend class="text-center" >Proyectos 
	<button class="btn btn-default" routerLink="/proyectosR">
		<i  aria-hidden="true"></i>
			Reporte		    
	</button>
</legend>
<div class="form-inline" *ngIf="crud_operation.is_visible">
	<label>Nombre:</label>
	<input class="form-control" type="text" size="10" placeholder="Casa..." [(ngModel)]="current_proyecto.nombre">
	<label>Id:</label>
	<input class="form-control" type="text" size="5" placeholder="2076..." [(ngModel)]="current_proyecto.id">
	<label>Fecha de Inicio:</label>
	<input class="form-control" type="date" style="width: 11,1em;" min="2015-01-01" max="2017-12-20" placeholder="01/10/2017" [(ngModel)]="current_proyecto.fecha_inicio">
	<label>Colaboradores</label>
	<input class="form-control" type="number" style="width: 4em;" placeholder="1" [(ngModel)]="current_proyecto.colaboradores">
	<label>Icono:</label>
	<input class="form-control" type="text" size="5" placeholder="link aqui.." [(ngModel)]="current_proyecto.icono">

	<button class="btn btn-primary"(click)="save()">
		<i class="fa fa-floppy-o" aria-hidden="true"></i>
		Save
	</button>
	<button class="btn btn-default"(click)="crud_operation.is_visible = false">
		<i class="fa fa-ban" aria-hidden="true"></i>
		Cancel
	</button>
</div>
<table  class="table table-striped table-hover">
	<tr>
		<th>Nombre</th>
		<th>Id</th>
		<th>Fecha de Inicio</th>
		<th>Colaboradores</th>
		<th>Icono</th>
		<!--<th>Tareas</th>-->
		<th class="text-right">
			<button class="btn btn-success" (click)="new()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    		<button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
		</th>
	</tr>
	<tr *ngFor="let row of data">
		<td>{{row.nombre}}</td>
		<td>{{row.id}}</td>
		<td>{{row.fecha_inicio}}</td>
		<td>{{row.colaboradores}}</td>
		<td><a href="{{row.icono}}"><img src="{{row.icono}}" width="60" height="60"></a></td>
		<!--<td>{{row.contador}}</td>-->
		<td class="text-right">
			<div *ngIf="!row.confirm">
				<button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      			<button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
      			<a class="btn btn-info" [routerLink]="['/proyectos/', row.nombre]">
		          <i class="fa fa-eye" aria-hidden="true"></i>
		        </a>
			</div>
			<div *ngIf="row.confirm">
				<button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
      			<button class="btn btn-success" (click)="delete(row)">Confirm</button>
			</div>
		</td>
	</tr>
	<tr *ngIf="data.length == 0">
		<td colspan="4" class="text-center">No data available</td>
	</tr>
</table>