<div id="wrapper" class='wrapper'  style="width:1000px; padding:3px;">
    <div class="panel panel-info" [dragula]='"first-bag"' style="width:200px;">
    <div class="panel-heading" >
        <th class="text-right"> Tareas
            <button class="btn btn-success" routerLink="/tareas"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </th>
    </div>
        <div class="panel-default" *ngFor="let row of data">
            {{row.nombre}} 
        </div>
    </div>
    <div *ngFor="let row of dataE" class="panel panel-info" [dragula]='"first-bag"' style="width:200px;">
        <div class="panel-heading" >
         <th class="text-right"> {{row.descripcion}}
            <button class="btn btn-success" routerLink="/estados"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </th>
        </div>
    </div>
</div>